/* 全体背景カラー */
html{
    background-color: #FBF9F1;
}

body{
    width: 100%; 
    /* 最大の幅を設定 */
    max-width: 1133x; 
    min-height: 100vh;
    margin: 0 auto; 
    /* 背景の設定 */
    background-image: url(../images/haikei.png);
    background-size:cover;
    background-repeat: no-repeat;
    /* 基本設定 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* デバイスのデフォルト明朝体を消す処理 */
    font-family: 'Noto Sans JP', 
                 'Hiragino Sans',
                 'Hiragino Kaku Gothic ProN',
                 'Meiryo',
                 'Yu Gothic',
                 sans-serif;
}

/* ロゴの設定 */
#logo{
    width: 80%;
    max-width: 922px;
    margin: 30px auto;
    display: block;
    animation: fadeIn 2s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#opening{
    margin-top: 157px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* index.htmlボタンの設定 */
#make_atelier,#enter_atelier{
    width: 50%;
    max-width: 372px;
    min-width: 195px;
    height: 60px;
    margin: 20px 0px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(to bottom , #FFD4B5 , #FF6A00);
    color: #FBF9F1;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.25);
}

/* settei.html、viewer.htmlの設定 */
#main_settei{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#name,#time_option,#enter_room_id,#viewer_name{
    width: 60%;
    max-width: 400px;
    min-width: 210px;
    height: 60px;
    margin: 20px 0px;
    padding: 0px 12px;
    border: 2px solid #A4A099;
    box-sizing:border-box;
    border-radius: 12px;
    font-size: 20px;
}

/* settei.htmlボタンの設定 */
#make_atelier,#go_atelier{
    width: 50%;
    max-width: 372px;
    min-width: 195px;
    height: 60px;
    margin: 40px 0px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(to bottom , #FFD4B5 , #FF6A00);
    color: #FBF9F1;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.25);
}

/* atelier.html、atelier_viewer.htmalの設定 */
#atelier_room{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* baseinfoエリアのCSS */
#baseinfo_area,#chat_area{
    width: 25%;
    margin: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    justify-content: center;
}

#drow_area{
    width: 50%;
    margin: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    justify-content: center;
}

#atelier_name,#odai_frame{
    width: 180px;
    padding: 24px;
    margin: 0px 0px 24px 0px;
    background-color: #FBF9F1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-size: 24px;
    border-radius: 6px;
}

#viewer_name_list{
    width: 180px;
    padding: 24px;
    margin: 0px 0px 24px 0px;
    background-color: #FFD4B5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-size: 24px;
    border-radius: 6px;
}

#room_id_frame{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#room_id{
    width: 228px;
    height: 60px;
    border: none;
    box-sizing:border-box;
    background-color: #FFD4B5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    font-size: 16px;
    text-align: center;
}

#room_id_text{
    margin-bottom: 24px;
}

#timelimit_frame{
    width: 180px;
    padding: 24px;
    margin: 0px 0px 24px 0px;
    background-color: #FBF9F1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-size: 24px;
    border-radius: 6px;
}

/* paletteエリアのCSS */
#palette{
    width: 500px;
    line-height:1;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;  
    background-color: #FFD4B5;
    border-radius: 6px;
}

#color_area,#line_width,#speed_area{
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 12px;
    font-size: 20px
}

#line_weight_range,#speed_range{
    height: 27px;
    display: inline-flex;
    align-items: center;
}

#current_value_line,#current_value_speed{
    margin-left: 5px;
    font-size: 16px;
}

#palette_title{
    width: 500px;
    height: 48px;
    /* line-height:1; */
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;  
    background-color: #FFD4B5;
    border-radius: 6px;
}

/* chatエリアのCSS */
/* 全体はbaseinfo_areaで設定 */
#chat_send,#clear_btn,#one_more,#go_top{
    width: 228px;
    height: 36px;
    margin: 16px 0px;
    border: none;
    border-radius: 6px;
    background: linear-gradient(to bottom , #FFD4B5 , #FF6A00);
    color: #FBF9F1;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.25);
}

#chat_rireki{
    width: 204px;
    height: 216px;
    padding: 12px;
    margin: 0px 0px 24px 0px;
    background-color: #FBF9F1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: start;
    font-size: 16px;
    border-radius: 6px;
    overflow: scroll;
    list-style:none;
}

.name_date{
    font-size: 12px;
}

.under10{
    color: red;
}

#text_message{
    width: 228px;
    height: 48px;
    border: none;
    box-sizing:border-box;
    background-color: #FBF9F1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    text-align: center;
    border-radius: 6px;
    background-color: #FFD4B5;
}

#chat_textbox{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}